<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facial Recognition 😼</title>
</head>
<body>
<!--dd-->
    <h1>Facial Recognition</h1>
    <h3>Enter an image to recognize it.</h3>
    <input type="file"
           id="file" name="file"
           accept="image/png, image/jpeg, image/jpg">
    <button id="submit">Submit</button>
    <h3 id="result">Result: Enter An Image</h3>
    <br><div style="display:none" id="add_form">
            <h3>Please enter <span id="image_count">5</span>a name and images, each individually</h3><br>
            <input name="person_name" placeholder="name">
            <input type="file"
                   name="added_image"
                   id="added_image"
                accept="image/png, image/jpeg, image/jpg">
            <button type="submit" id="add_pic">Submit</button>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        document.getElementById("submit").onclick = function() {
            const fileInput = document.getElementById("file");
            const data = new FormData();
            data.append('file', fileInput.files[0]);

            const config = {
                method: 'post',
                url: 'http://127.0.0.1:5000/image',
                data: data
            };

            axios(config)
            .then(function (response) {
                if (response.data.recognition === "Unknown") {
                    document.getElementById("add_form").style.display = "block";
                    document.getElementById("add_pic").onclick = function() {
                        let cur = parseInt(document.getElementById("image_count").innerHTML)

                        if (cur === 0) {
                            const train = {
                                method: 'post',
                                url: 'http://127.0.0.1:5000/train',
                            }
                            document.getElementById("add_form").innerHTML = "Please restart the program"
                        }
                        else {
                            const input = document.getElementById("added_image");
                            const newPic = new FormData();
                            newPic.append('added_image', input.files[0]);
                            document.getElementById("image_count").innerHTML = (cur - 1).toString();
                            let name = document.getElementById("added_image").value
                            const con = {
                                method: 'post',
                                url: 'http://127.0.0.1:5000/add/' + name,
                                data: newPic
                            }
                        }
                    }
                }
                else {
                    document.getElementById("result").innerHTML = "Result: " + response.data.recognition
                }
            })
            .catch(function (error) {
                console.log(error);
            });
        }
    </script>
</body>
</html>