<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facial Recognition 😼</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'>
    <style>
        h1 {
            font-family: 'Roboto';
            font-size: 36px;
        }

        h3 {
            font-family: 'Open Sans';
            font-size: 16px;
        }
    </style>
</head>
<body>
<!--dd-->
    <h1>Facial Recognition</h1>
    <h3>Enter an image to recognize it.</h3>
    <input type="file"
           id="file" name="file"
           accept="image/png, image/jpeg, image/jpg">
    <button id="submit">Submit</button>
    <h3 id="result">Result: Enter An Image</h3>
<!--    <img id="result_img" src="">-->
<!--    <br>-->
    <div style="display:none" id="add_form">
        <h3>Please enter a name and <span id="image_count">5</span> images, each individually</h3>
        <input id="person_name" placeholder="Enter name">
        <input type="file"
               id="added_image" name="added_image"
               accept="image/png, image/jpeg, image/jpg">
        <button type="submit" id="add_pic">Submit</button>
        <h3 id="trainResult" style="display: none">Trained!</h3>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        document.getElementById("submit").onclick = async () => {
            let fileInput = document.getElementById("file");
            let data = new FormData();
            data.append('file', fileInput.files[0]);

            const recogConfig = {
                method: 'POST',
                url: 'http://127.0.0.1:5000/image',
                data
            };
            const recogResp = await axios(recogConfig);

            if (recogResp.data.recognition === "Unknown") {
                document.getElementById("result").innerHTML = "Result: Unknown"
                document.getElementById("add_form").style.display = "block";
                document.getElementById("add_pic").onclick = async () => {
                    let cur = parseInt(document.getElementById("image_count").innerHTML);

                    if (cur === 0) {
                        const trainConfig = {
                            method: 'GET',
                            url: 'http://127.0.0.1:5000/train',
                        }
                        const trainResp = await axios(trainConfig);
                        document.getElementById("trainResult").style.display = "block";
                    } else {
                        let fileInput = document.getElementById("added_image");
                        let data = new FormData();
                        data.append('file', fileInput.files[0]);

                        const addConfig = {
                            method: 'POST',
                            url: `http://127.0.0.1:5000/add?name=${document.getElementById("person_name").value.replace(" ", "_").toLowerCase()}`,
                            data
                        }
                        const addResp = await axios(addConfig);
                        document.getElementById("image_count").innerHTML = (cur - 1).toString();
                    }
                }
            } else {
                document.getElementById("result").innerHTML = "Result: " + recogResp.data.recognition;
                // document.getElementById("result_img").setAttribute("src","pic.png")
            }
        };
    </script>
</body>
</html>